# Ignore dependencies:
#
.egg-info
__pycache__
dist/
*.pyc
.venv/
.coverage
coverage.xml
.pytest_cache/
brain_games/__pycache__
calc.cast
demo.cast
even.cast
gcd.cast
prime.cast
progression.cast
brain_games/scripts/__pycache__